# This file defines standard watch directories. If you use `pyrotorque`,
# you should disable them.

# Standard watch directories
schedule2 = watch_dirs, 121, 10, ((import, "@confdir/watch-dirs.rc.include"))

# Reload watch directory configuration automatically
schedule2 = watch_user_config, 0, 30, ((try_import, (cat, (cfg.basedir), "watch-dirs.rc")))
