# PyroScope settings
#
# Regarding options to change 'pyrocore' configuration defaults,
# see the comments in the files located in this directory:
#
#   @pyroscope@/rtorrent.d

# Import "pyrocore" defaults
import = @rtorrentPyroImportRC@

# TORQUE: Daemon watchdog schedule
# Must be activated by touching the "$RT_HOME/run/pyrotorque" file!
# Set the second argument of 'pyro.watchdog' to "-v" or "-q" to change
# log verbosity.
schedule2 = pyro_watchdog, 30, 300, ((pyro.watchdog, (cfg.basedir)))
